
  body {
    background: #838282;
    color: hsl(0, 0%, 100%);
    font-family: "Edu AU VIC WA NT Guides", cursive;
    font-optical-sizing: auto;
    
  }
  
.Side-bar-parent{
    display: flex;
    flex-direction: column;
    width:20%;
    height:100vh;
    float:left;
}

.Side-bar{
  padding: 5%;
    font-size: 1.6rem;
    color: rgb(215, 255, 142);
    column-width: 20%;
    
}

#todolabel{
  margin-bottom: 4%;
}

.Mainwindow-parent{
padding: 5%;
}

#filled-basic{
  width: 700px;
}

.css-y1qizs-MuiInputBase-root-MuiFilledInput-root::after {
  border-bottom: #333 !important;
}

#filled-basic-label{
  color: bisque;
}